/** @type {import('next').NextConfig} */
const nextConfig = {
  output: 'standalone',
  trailingSlash: true,
  images: {
    unoptimized: true
  },
  webpack: (config) => {
    // Поддержка JSON import с assert { type: 'json' }
    config.module.rules.push({
      test: /\.json$/,
      type: 'json'
    });
    
    return config;
  }
}

module.exports = nextConfig
