/** @type {import('next').NextConfig} */
const nextConfig = {
  images: {
    domains: ['via.placeholder.com'],
  },
  // Базовый путь для деплоя в поддиректории (только для production)
  basePath: process.env.BASE_PATH || '',
  // Перезапись путей для статических файлов
  assetPrefix: process.env.BASE_PATH || '',
}

module.exports = nextConfig
