/* ============================================= */
/* responsive.css */
/* Desktop-first адаптация */
/* Базовая верстка (без media) = 1920px */
/* ============================================= */


/* Large Desktop (1400px - 1919px) */
@media (max-width: 1919px) {
    /* Стили для макета 1400px */

    .container {
        max-width: 1336px;
    }

    .header-bottom-inner {
        gap: 8px;
    }

    .mega-menu-overlay .mega-menu-section {
        max-width: 325px;
    }

    /* Выпадающее меню */
    .profile-dropdown {
        top: 105px;
        right: 258px;
    }

    .categories-card-img img {
        max-width: 114px;
    }

    .products-tabs__link{
        padding: 10px 8px;
    }

    .product-card-inner {
        min-width: 258px;
        max-width: 258px;
    }

    .product-gallery-main {
        height: 236px;
    }

    .product-gallery-main img {
        max-width: 236px;
        max-height: 236px;
    }

    .pink {
        top: 227px;
    }

    .promo-block-inner {
        gap: 0;
    }

    .promo-block-info {
        width: 505px;
    }

    .promo-card-inner .swiper-slide {
        min-width: 260px !important;
        max-width: 260px;
    }

    .promo-card__gallery img {
        max-width: 236px;
        max-height: 236px;
    }

    .blog-card img {
        min-height: 286px;
        max-height: 286px;
    }

    .footer-links {
        width: 254px;
    }

    .footer-navigation-list {
        width: 254px;
    }

    .footer-payment {
        width: 254px;
    }

    .all-catalog-inner {
        margin-bottom: 16px;
    }

    .catalog-modal-body .category-list {
        max-width: 360px;
    }

    .catalog-modal-body .column {
        width: 325px;
        max-width: 325px;
    }

    .category-group .category-item::before {
        display: none;
    }

    .catalog-categoties-card {
        max-width: 146px;
    }

    .catalog-categoties-banner img {
        max-width: 114px;
    }

}

/* Desktop (1200px - 1399px) */
@media (max-width: 1399px) {

    /* Выпадающее меню */
    .profile-dropdown {
        top: 105px;
        right: 20px;
    }
}

/* Large Tablet / Small Desktop (992px - 1199px) */
@media (max-width: 1199px) {
    /* Стили для макета 992px */
}

/* Tablet (768px - 991px) */
@media (max-width: 991px) {
    /* Стили для макета 768px */
}

/* Large Mobile (576px - 767px) */
@media (max-width: 767px) {
    /* Стили для макета 576px */
}

/* Mobile (360px - 575px) */
@media (max-width: 575px) {
    /* Стили для макета 360px */
}

/* Small Mobile (320px - 359px) */
@media (max-width: 359px) {
    /* Стили для макета 320px */
}